table {
    width: 98%;
    margin-top: 50px;
    /* margin-left: 12px; */
  }
  table,
  th,
  td {
    border: 1px solid whitesmoke;
    padding: 10px;
    text-align: center;
    color: white;
  }
  tr {
    font-weight: 500;
  }
  table tr:hover {
    background-color: rgb(20, 19, 19);
    cursor: pointer;
    color: white;
  }
  h4 {
    text-align: center;
    border-bottom: 2px solid whitesmoke;
    color: white;
    padding: 10px;
    margin-top: 30px;
    text-shadow: 0 2px 2px 0 black;
  }